<h1 class="home-header">Sunshine and Thunder</h1>
<h2><i>Cloth</i></h2>
<p>You never know how the weather will be so you need to be dressed for every weathermood</p>
<p>You are always dressed just fine with Jeans and T-Shirt!</p>